@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    overscroll-behavior-y: none;
    @apply bg-black;
}

body::-webkit-scrollbar {
    display: none !important;
}
body::-webkit-scrollbar-track {
    display: none !important;
  }
   
body::-webkit-scrollbar-thumb {
    display: none !important;
}

.rotate-and-lift {
    transform: translate(-50%,-50%) rotateX(60deg) !important;
}

.cursor-beyond-move-anim {
    transform: translate(-50%,-50%) scale(1.5) !important;
    border: none !important;
    backdrop-filter: invert(1) !important;
}

.cursor-beyond-click-anim {
    transition: all .1s;
    transform: translate(-50%,-50%) scale(.7) !important;
}

.cursor-pointer-effect {
    opacity: 0 !important;
}
.cursor-beyond-pointer-effect {
    height: 100px !important;
    width: 100px !important;
}
.cursor-content-pointer-effect {
    opacity: 1 !important;
}
.cursor-content-image-pointer-effect {
    animation-name: rotate-anim;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
.cursor-full-image-effect {
    transition: height .6s;
    height: 300px !important;
}
.cursor-full-image-effect-close {
    transition: height .6s;
    height: 0 !important;
}

@keyframes rotate-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.z--1 {
    z-index: -1 !important;
}
.z--2 {
    z-index: -2 !important;
}


/* MENU EFFECT ELEMENT */


.menu-transform-y-100 {
    transition: all 1s !important;
    transition-delay: .2s !important;
    transform: translateY(-100px) scale(1.2) !important;
    opacity: 0 !important;
}
.menu-transform-y-200 {
    transition: all 1s !important;
    transition-delay: .2s !important;
    transform: translateY(-200px) scale(1.3) !important;
    opacity: 0 !important;
}
.menu-transform-y-300 {
    transition: all 1s !important;
    transition-delay: .2s !important;
    transform: translateY(-300px) scale(1.4) !important;
    opacity: 0 !important;
}

/* .LOAD-OPACITY-INITIAL-07 ,.LOAD-OPACITY-INITIAL-1 {
    opacity: 0 !important;
} */

.load-opacity-07 {
    transition: all .7s;
    opacity: 1 !important;
}

.load-opacity-1 {
    transition: all 1s;
    opacity: 1 !important;
}


.transform-50-scale-07 {
    transform: scale(.7) !important;
}